body {
  font-family: "ff-meta-serif-web-pro", serif;
  font-size: 20px;
  line-height: 1.4;
  color: hsl(200, 2%, 30%);
}

h1, h2, h3 {
  color: black;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}
