<!DOCTYPE html>

<html lang="en">

  <head>

    <!-- Meta data -->
    <title>{{site.title}}</title>

    <!-- Fonts -->
    <script src="https://use.typekit.net/auh6nhi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/styles.css">

  </head>

  <body>

    <div class="page">

      <div class="header">

        {% include header.html %}

      </div>

      {{content}}

    </div>

  </body>

</html>
