<!DOCTYPE html>

<html lang="en">

  <head>

    <!-- Meta data -->
    <title>{{site.title}}</title>

    <!-- Fonts -->
    <script src="https://use.typekit.net/auh6nhi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Styles -->
    <link href="/assets/styles.css">

    <style>

    body {
      font-family: "jaf-bernina-sans", sans-serif;
    }

    </style>

  </head>

  <body>

    <div class="header">

      {% include header.html %}

    </div>

    {{content}}

  </body>

</html>
